@* ﻿@model IEnumerable<CourseServiceModel>

@{
    ViewData["Title"] = "My Courses";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (Model.Any() == false)
{
    <h3 class="text-center">You have not courses!</h3>
}

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_CoursePartial" model="@item" />
    }
</div>
 *@
@model IEnumerable<CourseServiceModel>

@{
    ViewData["Title"] = "My Courses";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h3 class="text-center">You have no courses!</h3>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_CoursePartial", item)
        }
    </div>
}