@* <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="All">All Courses</a>
    </li>
  @if(this.User?.Identity?.IsAuthenticated ?? false)
  {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="MyCourses">My Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Add">Add Courses</a>
        </li>
  }
</ul> *@
@inject ILectorService lectorService

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link nav-link-pink" asp-area="" asp-controller="Course" asp-action="All">All Courses</a>
    </li>
    <li class="nav-item">
    <a class="nav-link nav-link-pink" asp-area="" asp-controller="Course" asp-action="MyCourses">My Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-pink" asp-area="" asp-controller="Review" asp-action="Review">Leave your opinion</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        
        <li class="nav-item">
            <a class="nav-link nav-link-pink" asp-area="" asp-controller="Course" asp-action="Add">Add Courses</a>
        </li>
    }
</ul>