@model BeautyCoursesPlace.Infrastructure.Data.Models.Saloon

@{
    ViewData["Title"] = "Saloon Details";
}

<h2>Saloon Details</h2>

<div>
    <h4>Name:</h4>
    <p>@Model.Name</p>
</div>

<div>
    <h4>Address:</h4>
    <p>@Model.Address</p>
</div>

<div>
    <h4>Partner:</h4>
    <p>@Model.Partner.Name</p>
</div>