@model AddReviewViewModel


<h2>Add Review for Course</h2>

<form asp-action="AddReview" method="post">
    <input type="hidden" asp-for="CourseId" />
    <textarea asp-for="Feedback" rows="5" cols="50"></textarea>
    <span asp-validation-for="Feedback"></span>
    <button type="submit">Submit Review</button>
</form>